.input-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 30px;
  width: 100%;
  background-color: transparent;
  color: var(--color-white);
  outline: none;
  border: none;
  text-align: center;
  border-bottom: 2px solid var(--color-white);
}

input:focus {
  outline: 0;
  border-color: var(--primary);
}
