////////////////////////// Background Colors /////////////////////////

.bg-dark {
  background-color: var(--color-dark) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-custom-gray-1 {
  background-color: var(--custom-gray-1) !important;
}

.bg-custom-gray-2 {
  background-color: var(--custom-gray-2) !important;
}

.bg-custom-gray-3 {
  background-color: var(--custom-gray-3) !important;
}

.bg-custom-gray-4 {
  background-color: var(--custom-gray-4) !important;
}

.bg-custom-gray-5 {
  background-color: var(--custom-gray-5) !important;
}

// Primary

.bg-light-5-primary {
  background-color: var(--primary-light-5) !important;
}

.bg-light-4-primary {
  background-color: var(--primary-light-4) !important;
}

.bg-light-3-primary {
  background-color: var(--primary-light-3) !important;
}

.bg-light-2-primary {
  background-color: var(--primary-light-2) !important;
}

.bg-light-1-primary {
  background-color: var(--primary-light-1) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-dark-1-primary {
  background-color: var(--primary-dark-1) !important;
}

.bg-dark-2-primary {
  background-color: var(--primary-dark-2) !important;
}

.bg-dark-3-primary {
  background-color: var(--primary-dark-3) !important;
}

.bg-dark-4-primary {
  background-color: var(--primary-dark-4) !important;
}

.bg-dark-5-primary {
  background-color: var(--primary-dark-5) !important;
}

// Gray

.bg-light-5-gray {
  background-color: var(--gray-light-5) !important;
}

.bg-light-4-gray {
  background-color: var(--gray-light-4) !important;
}

.bg-light-3-gray {
  background-color: var(--gray-light-3) !important;
}

.bg-light-2-gray {
  background-color: var(--gray-light-2) !important;
}

.bg-light-1-gray {
  background-color: var(--gray-light-1) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

.bg-dark-1-gray {
  background-color: var(--gray-dark-1) !important;
}

.bg-dark-2-gray {
  background-color: var(--gray-dark-2) !important;
}

.bg-dark-3-gray {
  background-color: var(--gray-dark-3) !important;
}

.bg-dark-4-gray {
  background-color: var(--gray-dark-4) !important;
}

.bg-dark-5-gray {
  background-color: var(--gray-dark-5) !important;
}

// ERROR

.bg-light-5-error {
  background-color: var(--error-light-5) !important;
}

.bg-light-4-error {
  background-color: var(--error-light-4) !important;
}

.bg-light-3-error {
  background-color: var(--error-light-3) !important;
}

.bg-light-2-error {
  background-color: var(--error-light-2) !important;
}

.bg-light-1-error {
  background-color: var(--error-light-1) !important;
}

.bg-error {
  background-color: var(--error) !important;
}

.bg-dark-1-error {
  background-color: var(--error-dark-1) !important;
}

.bg-dark-2-error {
  background-color: var(--error-dark-2) !important;
}

.bg-dark-3-error {
  background-color: var(--error-dark-3) !important;
}

.bg-dark-4-error {
  background-color: var(--error-dark-4) !important;
}

.bg-dark-5-error {
  background-color: var(--error-dark-5) !important;
}

///////////////////////////// Text colors ///////////////////////////

.text-dark {
  color: var(--color-dark) !important;
}

.text-white {
  color: var(--color-white) !important;
}

.text-custom-gray-1 {
  color: var(--custom-gray-1) !important;
}

.text-custom-gray-2 {
  color: var(--custom-gray-2) !important;
}

.text-custom-gray-3 {
  color: var(--custom-gray-3) !important;
}

.text-custom-gray-4 {
  color: var(--custom-gray-4) !important;
}

.text-custom-gray-5 {
  color: var(--custom-gray-5) !important;
}

// Primary

.text-light-5-primary {
  color: var(--primary-light-5) !important;
}

.text-light-4-primary {
  color: var(--primary-light-4) !important;
}

.text-light-3-primary {
  color: var(--primary-light-3) !important;
}

.text-light-2-primary {
  color: var(--primary-light-2) !important;
}

.text-light-1-primary {
  color: var(--primary-light-1) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.text-dark-1-primary {
  color: var(--primary-dark-1) !important;
}

.text-dark-2-primary {
  color: var(--primary-dark-2) !important;
}

.text-dark-3-primary {
  color: var(--primary-dark-3) !important;
}

.text-dark-4-primary {
  color: var(--primary-dark-4) !important;
}

.text-dark-5-primary {
  color: var(--primary-dark-5) !important;
}

// gray

.text-light-5-gray {
  color: var(--gray-light-5) !important;
}

.text-light-4-gray {
  color: var(--gray-light-4) !important;
}

.text-light-3-gray {
  color: var(--gray-light-3) !important;
}

.text-light-2-gray {
  color: var(--gray-light-2) !important;
}

.text-light-1-gray {
  color: var(--gray-light-1) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-dark-1-gray {
  color: var(--gray-dark-1) !important;
}

.text-dark-2-gray {
  color: var(--gray-dark-2) !important;
}

.text-dark-3-gray {
  color: var(--gray-dark-3) !important;
}

.text-dark-4-gray {
  color: var(--gray-dark-4) !important;
}

.text-dark-5-gray {
  color: var(--gray-dark-5) !important;
}

// error

.text-light-5-error {
  color: var(--error-light-5) !important;
}

.text-light-4-error {
  color: var(--error-light-4) !important;
}

.text-light-3-error {
  color: var(--error-light-3) !important;
}

.text-light-2-error {
  color: var(--error-light-2) !important;
}

.text-light-1-error {
  color: var(--error-light-1) !important;
}

.text-error {
  color: var(--error) !important;
}

.text-dark-1-error {
  color: var(--error-dark-1) !important;
}

.text-dark-2-error {
  color: var(--error-dark-2) !important;
}

.text-dark-3-error {
  color: var(--error-dark-3) !important;
}

.text-dark-4-error {
  color: var(--error-dark-4) !important;
}

.text-dark-5-error {
  color: var(--error-dark-5) !important;
}

/////////////////////////// Line Height ////////////////////////

.line-height-20 {
  line-height: 20px;
}

.line-height-22 {
  line-height: 22px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-26 {
  line-height: 26px;
}

.line-height-28 {
  line-height: 28px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-32 {
  line-height: 32px;
}

/////////////////////////// Border ////////////////////////

.border-dark {
  border-color: var(--color-dark) !important;
}

.border-white {
  border-color: var(--color-white) !important;
}

// Primary

.border-light-5-primary {
  border-color: var(--primary-light-5) !important;
}

.border-light-4-primary {
  border-color: var(--primary-light-4) !important;
}

.border-light-3-primary {
  border-color: var(--primary-light-3) !important;
}

.border-light-2-primary {
  border-color: var(--primary-light-2) !important;
}

.border-light-1-primary {
  border-color: var(--primary-light-1) !important;
}

.border-primary {
  border-color: var(--primary) !important;
}

.border-dark-1-primary {
  border-color: var(--primary-dark-1) !important;
}

.border-dark-2-primary {
  border-color: var(--primary-dark-2) !important;
}

.border-dark-3-primary {
  border-color: var(--primary-dark-3) !important;
}

.border-dark-4-primary {
  border-color: var(--primary-dark-4) !important;
}

.border-dark-5-primary {
  border-color: var(--primary-dark-5) !important;
}

// gray

.border-light-5-gray {
  border-color: var(--gray-light-5) !important;
}

.border-light-4-gray {
  border-color: var(--gray-light-4) !important;
}

.border-light-3-gray {
  border-color: var(--gray-light-3) !important;
}

.border-light-2-gray {
  border-color: var(--gray-light-2) !important;
}

.border-light-1-gray {
  border-color: var(--gray-light-1) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-dark-1-gray {
  border-color: var(--gray-dark-1) !important;
}

.border-dark-2-gray {
  border-color: var(--gray-dark-2) !important;
}

.border-dark-3-gray {
  border-color: var(--gray-dark-3) !important;
}

.border-dark-4-gray {
  border-color: var(--gray-dark-4) !important;
}

.border-dark-5-gray {
  border-color: var(--gray-dark-5) !important;
}

// error

.border-light-5-error {
  border-color: var(--error-light-5) !important;
}

.border-light-4-error {
  border-color: var(--error-light-4) !important;
}

.border-light-3-error {
  border-color: var(--error-light-3) !important;
}

.border-light-2-error {
  border-color: var(--error-light-2) !important;
}

.border-light-1-error {
  border-color: var(--error-light-1) !important;
}

.border-error {
  border-color: var(--error) !important;
}

.border-dark-1-error {
  border-color: var(--error-dark-1) !important;
}

.border-dark-2-error {
  border-color: var(--error-dark-2) !important;
}

.border-dark-3-error {
  border-color: var(--error-dark-3) !important;
}

.border-dark-4-error {
  border-color: var(--error-dark-4) !important;
}

.border-dark-5-error {
  border-color: var(--error-dark-5) !important;
}

// Border Position

// Full

.border-one {
  border: 1px solid;
}

.border-two {
  border: 2px solid;
}

.border-three {
  border: 3px solid;
}

.border-four {
  border: 4px solid;
}

.border-five {
  border: 5px solid;
}

// Right

.border-right-one {
  border-right: 1px solid;
}

.border-right-two {
  border-right: 2px solid;
}

.border-right-three {
  border-right: 3px solid;
}

.border-right-four {
  border-right: 4px solid;
}

.border-right-five {
  border-right: 5px solid;
}

// Left

.border-left-one {
  border-left: 1px solid;
}

.border-left-two {
  border-left: 2px solid;
}

.border-left-three {
  border-left: 3px solid;
}

.border-left-four {
  border-left: 4px solid;
}

.border-left-five {
  border-left: 5px solid;
}

// Bottom

.border-bottom-one {
  border-bottom: 1px solid;
}

.border-bottom-two {
  border-bottom: 2px solid;
}

.border-bottom-three {
  border-bottom: 3px solid;
}

.border-bottom-four {
  border-bottom: 4px solid;
}

.border-bottom-five {
  border-bottom: 5px solid;
}

// Top

.border-top-one {
  border-top: 1px solid;
}

.border-top-two {
  border-top: 2px solid;
}

.border-top-three {
  border-top: 3px solid;
}

.border-top-four {
  border-top: 4px solid;
}

.border-top-five {
  border-top: 5px solid;
}

// Border radius

.border-radius-3 {
  border-radius: 3px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-50 {
  border-radius: 50% !important;
}

.asterisk {
  &::after {
    content: "*";
    color: red;
    font-size: 12px;
    margin-left: 4px;
  }
}

//Width

.width-full {
  width: 100% !important;
}

.width-half {
  width: 50% !important;
}

.width-third {
  width: 33.33% !important;
}

.width-1 {
  width: 1% !important;
}

.width-2 {
  width: 2% !important;
}

.width-3 {
  width: 3% !important;
}

.width-4 {
  width: 4% !important;
}

.width-5 {
  width: 5% !important;
}

.width-6 {
  width: 6% !important;
}

.width-7 {
  width: 7% !important;
}

.width-8 {
  width: 8% !important;
}

.width-9 {
  width: 9% !important;
}

.width-10 {
  width: 10% !important;
}

.width-15 {
  width: 15% !important;
}

.width-20 {
  width: 20% !important;
}

.width-25 {
  width: 25% !important;
}

.width-30 {
  width: 30% !important;
}

.width-35 {
  width: 35% !important;
}

.width-40 {
  width: 40% !important;
}

.width-45 {
  width: 45% !important;
}

.width-50 {
  width: 50% !important;
}

.width-55 {
  width: 55% !important;
}

.width-60 {
  width: 60% !important;
}

.width-65 {
  width: 65% !important;
}

.width-70 {
  width: 70% !important;
}

.width-75 {
  width: 75% !important;
}

.width-80 {
  width: 80% !important;
}

.width-85 {
  width: 85% !important;
}

.width-90 {
  width: 90% !important;
}

.width-95 {
  width: 95% !important;
}

//width in px

.w-10 {
  width: 10px !important;
}

.w-15 {
  width: 15px !important;
}

.w-20 {
  width: 20px !important;
}

.w-25 {
  width: 25px !important;
}

.w-30 {
  width: 30px !important;
}

// Font Size

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-25 {
  font-size: 25px !important;
}


//Opacity

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

//Cursor

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-move {
  cursor: move;
}

.cursor-wait {
  cursor: wait;
}

.cursor-text {
  cursor: text;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-pointer-grab {
  cursor: grabbing;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.pointer-events-none {
  pointer-events: none;
}

.line-through {
  text-decoration: line-through;
}

.zoom-1 {
  zoom: 1;
}

.zoom-1-2 {
  zoom: 1.2;
}

.zoom-1-5 {
  zoom: 1.5;
}

// Typography
.main-heading {
  font-size: 48px;
}

.heading {
  font-size: var(--font-size-xl);
}

.sub-heading {
  font-size: var(--font-size-lg);
}

.paragraph {
  font-size: var(--font-size-md);
}

.small-text {
  font-size: var(--font-size-sm);
}

////////////////////////////////////////// Buttons ///////////////////////////////

// XL Button

.btn-xl-filled-primary {
  @include --xl-filled-button($color: var(--primary), $hoverColor: var(--primary-dark-1));
}

.btn-xl-outlined-primary {
  @include --xl-outlined-button($color: var(--primary));
}

.btn-xl-filled-warning {
  @include --xl-filled-button($color: var(--warning), $hoverColor: var(--warning-dark-1));
}

.btn-xl-outlined-warning {
  @include --xl-outlined-button($color: var(--warning));
}

.btn-xl-filled-success {
  @include --xl-filled-button($color: var(--success), $hoverColor: var(--success-dark-1));
}

.btn-xl-outlined-success {
  @include --xl-outlined-button($color: var(--success));
}

.btn-xl-filled-info {
  @include --xl-filled-button($color: var(--information), $hoverColor: var(--information-dark-1));
}

.btn-xl-outlined-info {
  @include --xl-outlined-button($color: var(--information));
}

.btn-xl-filled-error {
  @include --xl-filled-button($color: var(--error), $hoverColor: var(--error-dark-1));
}

.btn-xl-outlined-error {
  @include --xl-outlined-button($color: var(--error));
}

.btn-xl-filled-gray {
  @include --xl-filled-button($color: var(--gray), $hoverColor: var(--gray-dark-1));
}

.btn-xl-outlined-gray {
  @include --xl-outlined-button($color: var(--gray));
}

.btn-xl-filled-dark {
  @include --xl-filled-button($color: var(--color-dark), $hoverColor: var(--dark-dark-1));
}

.btn-xl-outlined-dark {
  @include --xl-outlined-button($color: var(--color-dark));
}

// MD Button

.btn-md-filled-primary {
  @include --md-filled-button($color: var(--primary), $hoverColor: var(--primary-dark-1));
}

.btn-md-outlined-primary {
  @include --md-outlined-button($color: var(--primary));
}

.btn-md-filled-warning {
  @include --md-filled-button($color: var(--warning), $hoverColor: var(--warning-dark-1));
}

.btn-md-outlined-warning {
  @include --md-outlined-button($color: var(--warning));
}

.btn-md-filled-success {
  @include --md-filled-button($color: var(--success), $hoverColor: var(--success-dark-1));
}

.btn-md-outlined-success {
  @include --md-outlined-button($color: var(--success));
}

.btn-md-filled-info {
  @include --md-filled-button($color: var(--information), $hoverColor: var(--information-dark-1));
}

.btn-md-outlined-info {
  @include --md-outlined-button($color: var(--information));
}

.btn-md-filled-error {
  @include --md-filled-button($color: var(--error), $hoverColor: var(--error-dark-1));
}

.btn-md-outlined-error {
  @include --md-outlined-button($color: var(--error));
}

.btn-md-filled-gray {
  @include --md-filled-button($color: var(--gray), $hoverColor: var(--gray-dark-1));
}

.btn-md-outlined-gray {
  @include --md-outlined-button($color: var(--gray));
}

.btn-md-filled-dark {
  @include --md-filled-button($color: var(--color-dark), $hoverColor: var(--dark-dark-1));
}

.btn-md-outlined-dark {
  @include --md-outlined-button($color: var(--color-dark));
}

// SM Button

.btn-sm-filled-primary {
  @include --sm-filled-button($color: var(--primary), $hoverColor: var(--primary-dark-1));
}

.btn-sm-outlined-primary {
  @include --sm-outlined-button($color: var(--primary));
}

.btn-sm-filled-warning {
  @include --sm-filled-button($color: var(--warning), $hoverColor: var(--warning-dark-1));
}

.btn-sm-outlined-warning {
  @include --sm-outlined-button($color: var(--warning));
}

.btn-sm-filled-success {
  @include --sm-filled-button($color: var(--success), $hoverColor: var(--success-dark-1));
}

.btn-sm-outlined-success {
  @include --sm-outlined-button($color: var(--success));
}

.btn-sm-filled-info {
  @include --sm-filled-button($color: var(--information), $hoverColor: var(--information-dark-1));
}

.btn-sm-outlined-info {
  @include --sm-outlined-button($color: var(--information));
}

.btn-sm-filled-error {
  @include --sm-filled-button($color: var(--error), $hoverColor: var(--error-dark-1));
}

.btn-sm-outlined-error {
  @include --sm-outlined-button($color: var(--error));
}

.btn-sm-filled-gray {
  @include --sm-filled-button($color: var(--gray), $hoverColor: var(--gray-dark-1));
}

.btn-sm-outlined-gray {
  @include --sm-outlined-button($color: var(--gray));
}

.btn-sm-filled-dark {
  @include --sm-filled-button($color: var(--color-dark), $hoverColor: var(--dark-dark-1));
}

.btn-sm-outlined-dark {
  @include --sm-outlined-button($color: var(--color-dark));
}

